<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Bienvenido a nuestra tienda</title>
</head>

<body>
  <div style="text-align: center;">
    <h1>Bienvenido, {{first_name}} {{last_name}}!</h1>
    <p>¡Gracias por unirte a nuestra tienda!</p>
    <p>Estamos encantados de tenerte como parte de nuestra comunidad.</p>
    <p>Si tienes alguna pregunta, no dudes en contactarnos.</p>
  </div>
</body>

</html>
